.page {
  font-family: "IBM Plex Mono", monospace;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
}

.header,
.footer {
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 127px;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorations-color);
  border-inline-start: 1px solid var(--decorations-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorations-color);
  border-inline-end: 1px solid var(--decorations-color);
}

.header__decoration-items {
  position: absolute;
  line-height: 25px;
  top: 10px;
  right: 38px;
  text-align: center;
  font-size: var(--font-size);
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__decoration-items::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  right: 9px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 4.5px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  right: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: var(--font-size);
  text-transform: lowercase;
  color: var(--decorations-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decorations-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--decorations-color);
}

.header__title {
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--title-font-weight);
  line-height: 83%;
  inline-size: min-content;
}

.header__paragraph {
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 3;
  min-inline-size: min-content;
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
  line-height: 23.4px;
  inline-size: calc(100vw - 20px);
  block-size: min-content;
}

.title-decor {
  color: var(--titles-text-color);
  background-color: var(--accent-color);
}

.content {
  margin: 40px 0;
  padding: 0 10px;
}

.section {
    line-height: 23.4px;
}

.section:not(:last-child) {
  margin-bottom: 50px;
}

.section__title {
  margin-block-end: 20px;
  color: var(--section-titles-text-color);
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__list-item:not(:last-child) {
  margin-block-end: 20px;
}

.section__list-item_title {
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
}

.section__list-item_paragraph {
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: 400;
}

.decoration__text {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.decoration__text a {
  text-decoration: none;
}

.decoration__text a:hover {
  border-bottom: 1px solid var(--text-color);
}

.decoration__text a:focus {
  border: none;
  outline: none;
}

.decoration__text a:focus-visible {
  border: 1px solid var(--text-color);
}

.cards h2 {
  font-size: var(--font-size);
  margin-block-end: 10px;
}

.ways-to-concentrate__list-title {
  font-weight: var(--title-font-weight);
  margin-block-end: 20px;
  font-size: var(--font-size);
  block-size: min-content;
}

.ways-to-concentrate__list-item_title {
  font-weight: 400;
}

.gallery__list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--title-font-weight);
  color: var(--header-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  inline-size: min-content;
}

@media (width >= 768px) {
  .header,
  .footer {
    padding: 20px;
    min-height: 1024px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__decoration-items {
    top: 20px;
    right: 48px;
  }

  .header__title {
    margin-left: -20px;
    min-inline-size: max-content;
    grid-column: 1 / 4;
  }

  .header__paragraph {
    grid-column: 2 / 3;
    inline-size: calc(50vw - 20px);
  }

  .content {
    margin: 60px 0;
    padding: 0 20px;
  }

  .section:not(:last-child) {
    margin-block-end: 80px;
  }

  .lost__concentration-list h2 {
    max-inline-size: 236px;
  }

  .reasons,
  .ways-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__list-item .ways-to-concentrate__list-item {
    grid-column: 2 ;
  }

  .cards h2 {
    margin-block-end: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__paragraph {
    grid-column: 2 / 4;
    justify-self: end;
    margin-block-end: 20px;
  }

  .section__list-item {
    margin-block-end: 0;
  }

  .reasons,
  .ways-to-concentrate {
    grid-template-columns: 1fr 2.06fr;
  }

  .lost__concentration-list h2 {
    max-inline-size: calc(1 / 3 * (100vw - 40px));
  }

  .lost__concentration-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .lost__concentration-list li {
    max-inline-size: calc(1 / 3 * (100vw - 60px));
    line-height: 23.4px;
  }
}
